/* BODY AND SECTIONS. GENERAL */

body {
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
.second-section {
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
body {
  /* background: #a7a4a4;
    color: #d3bcc2; */
  /* font-family: 'Tajawal', sans-serif; */
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
}
.tools {
  font-size: 16px;
}
.link-itself {
  text-decoration: none;
  color: black;
}
.link-samples {
  text-decoration: none;
  color: rgb(201, 192, 201);
}
.links:hover {
  text-decoration: underline;
}

#link {
  float: left;
}
#code {
  padding-left: 20px;
  float: left;
}

.first-section {
  /* background-image: url("../data/data_viz.jpeg"); */
  background-image: url("../data/bb.png");
  width: 100%;
  /* height: 800px; */
  height: 100vh;
}

#second-section {
  /* background-color: rgb(226, 219, 226); */
  background-color: #d8d7d5;
  width: 100%;
  height: 100%;
}
/* .third-section {
    background-color: rgb(231, 225, 225);
    width: 100%;
    height: 100vh;
} */

/*  Creator: Teerawit 
| 
Credit: teerawit - stock.adobe.com
Copyright: ©teerawit - stock.adobe.com

https://stock.adobe.com/contributor/205626462/teerawit
*/

/* FIRST SECTION. NAV */
nav {
  /* background-color: hsl(212, 52%, 24%); */
  background-color: rgb(42, 68, 94);
  padding: 20px;
  color: hsl(345, 15%, 90%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}
nav::after {
  content: "";
  display: table;
  clear: both;
}

.my-name {
  float: left;
  padding: 25px;
  font-size: 38px;
  margin: 0.5rem;
  /* color: rgb(255, 240, 252); */
  color: hsl(210, 9%, 91%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links a {
  transition: all 1s ease-out;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  float: right;
  font-weight: 300;
}

.navbar-links li {
  /* display: inline-block; */
  display: block;
  margin-right: 30px;
  padding-top: 25px;
  /* padding: 1rem;  */
  position: relative;
}

.navbar-links a {
  color: rgb(242, 243, 234);
  text-decoration: none;
  text-transform: uppercase;
}
/* .navbar-links a:hover {
    color:hsl(225, 10%, 92%);
 }  */

@media (min-width: 800px) {
  .navbar-links a::before {
    content: "";
    display: block;
    height: 3px;
    background-color: rgb(209, 218, 218);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }
  .navbar-links a:hover::before {
    width: 100%;
  }
}
.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: rgb(165, 172, 172);
  border-radius: 10px;
}
@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
    padding: 1rem;
  }
  .navbar-links {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .navbar-links li:hover {
    background-color: rgb(109, 102, 110);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.welcome {
  animation: 3s ease-out 0s 1 slideInFromLeft;
  /* padding: 2rem; */
  font-size: 36px;
  font-weight: 500;
}
#welcome {
  padding: 1rem;
}

.media a {
  padding: 1rem;
  vertical-align: top;
}
.fa {
  /* padding: 20px; */
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  /* background: rgb(214, 189, 218); */
  /* background: rgb(81, 79, 82); */
  color: hsl(210, 9%, 91%);
  /* color: hsl(212, 52%, 24%); */
  background: rgb(41, 69, 97);
}
.fa-github {
  /* background: rgb(214, 189, 218);
  color: hsl(212, 52%, 24%);
  background: rgb(81, 79, 82); */
  color: hsl(210, 9%, 91%);
  background: rgb(42, 68, 94);
}
.fa-observable {
  /* background: rgb(214, 189, 218);
  color: hsl(212, 52%, 24%); */
  /* background: rgb(81, 79, 82); */
  color: hsl(210, 9%, 91%);
  background: rgb(42, 68, 94);
}

.fa-tableau {
  /* background: rgb(214, 189, 218); */
  /* color: hsl(212, 52%, 24%); */
  /* background: rgb(81, 79, 82); */
  color: hsl(210, 9%, 91%);
  background: rgb(42, 68, 94);
}
.fa-envelope {
  /* background: rgb(214, 189, 218);
  color: hsl(212, 52%, 24%); */
  /* background: rgb(81, 79, 82); */
  color: hsl(210, 9%, 91%);
  background: rgb(42, 68, 94);
}

/* SECOND SECTION */

#wrapper {
  width: 100%;
  height: 100%;
}
#main-content {
  display: grid;
  grid-template-columns: 1.5fr 4fr 4fr 1.5fr;
  grid-template-rows: 4fr 4fr 4fr 4fr 1.5fr;

  column-gap: 6%;
  row-gap: 2%;
}
.projects-boxes {
  color: rgb(66, 65, 65);
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
}

.highlight {
  border-radius: 10px;
  opacity: 1;
}
#project1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: "project1";
}

#project2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: "project2";
}
#project3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: "project3";
}

#project4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: "project4";
}
#project5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: "project5";
}
#project6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: "project6";
}
#project7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-area: "project7";
}

#project8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-area: "project8";
}

#projects {
  padding: 0.2rem;
}
.projects-boxes {
  font-size: 30px;
}

#img1 {
  /* color: url("..data/conf.png");
  -webkit-filter: url(#duotone);
  filter: url(#monochrome); */
  opacity: 0.8;
  box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
  /* filter: contrast(300%) brightness(0.9) invert(0.4) sepia(0.6)
    hue-rotate(200deg) saturate(100%); */
}
#img1:hover {
  /* color: url("..data/conf.png");
  -webkit-filter: url(#duotone);
  filter: url(#monochrome); */
  opacity: 1;
  box-shadow: #224 0.2em 0.2em 0.6em 0.1em;
}
.projects-boxes:hover {
  color: black;
  font-weight: 500;
  /* box-shadow: rgb(123, 123, 136) 0.2em 0.2em 0.6em 0.1em;  */
  /* background-color: rgb(226, 212, 221); */
}
.box {
  padding: 0.5rem;
  border-radius: 10px;
}
.box:hover {
  box-shadow: rgb(94, 94, 109) 0.2em 0.2em 0.6em 0.1em;
}
@media (max-width: 800px) {
  #main-content {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;

    column-gap: 2%;
    row-gap: 3%;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "project5"
      "project6"
      "project7";
  }

  #project1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: "project1";
  }

  #project2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: "project2";
  }
  #project3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-area: "project3";
  }

  #project4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-area: "project4";
  }
  #project5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-area: "project5";
  }
  #project6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-area: "project6";
  }
  #project7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-area: "project7";
  }

  #project8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-area: "project8";
  }
  #img1 {
    max-width: 300px;
  }
}
/* THIRD SECTION */

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: transparent;
  color: rgb(122, 120, 120);
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: transparent;
  color: hsl(212, 57%, 13%);
}

.quote {
  padding: 2rem;
  font-size: 36px;
  font-weight: 500;
  color: #f5e7f3;
}

#third-section {
  /* background-color: #57606f; */
  background-color: #3d3e3f;
  opacity: 0.8;
  /* z-index: 900; */
  width: 100%;
  height: 100%;
}

#third-section {
  opacity: 1;
}
.samples-boxes {
  color: rgb(66, 65, 65);
  font-size: 20px;
  text-decoration: none;
  vertical-align: top;
}
/* #samples{
    display: grid;
    grid-template-columns: 1.5fr 9.5fr;
  } */
#samples-content {
  display: grid;
  grid-template-columns: 1.5fr 4fr 4fr 1.5fr;
  grid-template-rows: 4fr 4fr 4fr 4fr;

  column-gap: 6%;
  row-gap: 2%;
}
#sample1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: "project1";
}

#sample2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: "project2";
}
#sample3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: "project3";
}
#sample4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-area: "project4";
}
#sample5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: "sample5";
}
#sample6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-area: "sample6";
}
#sample7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-area: "sample7";
}
#sample8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-area: "sample8";
}
#samples {
  padding: 0.2rem;
  color: rgb(201, 192, 201);
}
.samples-boxes {
  font-size: 30px;
  color: rgb(177, 174, 174);
}
.samples-boxes:hover {
  color: rgb(246, 240, 247);
  font-weight: 500;
}
.box-sample {
  padding: 0.5rem;
  border-radius: 10px;
}
.box-sample:hover {
  box-shadow: rgb(172, 158, 170) 0.4em 0.4em 0.6em 0.1em;
}
#img2 {
  opacity: 0.8;
  box-shadow: rgb(172, 158, 170) 0.4em 0.4em 0.6em 0.1em;
}
#img2:hover {
  opacity: 1;
}
/* #img2 {
  color: url("..data/conf.png");
  -webkit-filter: url(#duotone);
  filter: url(#monochrome);
  box-shadow: rgb(143, 126, 141) 0.4em 0.4em 0.6em 0.1em;
  filter: contrast(300%) brightness(0.9) invert(0.9) sepia(0.4)
    hue-rotate(200deg) saturate(100%);
} */
/* #img2:hover {
  color: url("..data/conf.png");
  -webkit-filter: url(#duotone);
  filter: url(#monochrome);
  box-shadow: rgb(143, 126, 141) 0.2em 0.2em 0.6em 0.1em;
} */

@media (max-width: 800px) {
  #samples-content {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 5fr;

    column-gap: 2%;
    row-gap: 3%;
    grid-template-areas:
      "sample1"
      "sample2"
      "sample3"
      "sample4"
      "sample5"
      "sample6"
      "sample7"
      "sample8";
  }

  #sample1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: "sample";
  }

  #sample2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: "sample";
  }
  #sample3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-area: "sample3";
  }

  #sample4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-area: "sample4";
  }
  #sample5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-area: "sample5";
  }
  #sample6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-area: "sample6";
  }
  #sample7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-area: "sample7";
  }
  #sample8 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-area: "sample8";
  }
  #img2 {
    max-width: 300px;
  }
}
.image-source {
  position: absolute;
  float: right;
  color: hsl(346, 13%, 81%);
  opacity: 0.8;
  text-decoration: none;
}
.image-source:hover {
  opacity: 1;
}
